header{
    background-color: rgb(61, 55, 55);
    color: white;
    padding: 0;
    height: 150px;
    text-align: center;
}
.titulo{
    font-size: xx-large
}

body{
    padding: 0;
    margin: 0;
}

.ancora{
    text-align: center;
    font-size: larger;
    background-color: rgb(57, 95, 178);
    color: black;
    padding: 0;
    height: 40px;
}
a{
    color: black;
    text-decoration: none;
}
.bem_vindo{
    text-align: center;
    font-size: larger;
    background-color: rgb(246, 245, 243);
}
.imagens{
    text-align: center;
}
fieldset{
    text-align: center;
    width: 500px;
    border-radius: 20px;
    margin-left: 30%;
}
.botao_1{
    background-color: rgb(43, 8, 241);
    border-radius: 5px;
    width: 70px;
    border: none;
    color: white;
    height: 35px;
}
.logo{
    margin-left: 27%;
}
form{
    font-size: larger;
    text-align: left;
}
form h1{
    text-align: center;
}
form textarea{
    width: 500px;
    height: 150px;
}
form input{
    width: 500px;
    height: 25px;
}
.sobre_nos{
    text-align: justify;
    font-size: larger;
    margin-left: 32%;
}
footer{
    background-color: rgb(61, 55, 55);
    color: white;
    padding: 0;
    height: 80px;
    text-align: center;
}